.reveal {
  font-size: 32px;
}

.reveal h1 {
  font-size: 2em;
}

.reveal h2,
.reveal h3 {
  font-size: 1.625em;
}

.reveal h4 { /* h3 */
  margin-top: 1.6em;
  font-size: 1.375em;
}

.reveal h5 { /* h4 */
  font-size: 1.125em;
}

.reveal h4.author {
  font-size: 1.625em;
}

.reveal section img {
  border: none;
  margin: 0 0 0 0;
}

.reveal .slide-number {
  font-size: 24px;
  color: #000;
  background-color: #fff;
}

.reveal .padded th,
.reveal .padded td {
  padding: 0.6em 0.5em 0.6em 0.5em;
}

.reveal .unpadded th,
.reveal .unpadded td {
  padding: 0 0 0 0;
}

.reveal table.padtop,
.reveal div.padtop {
  margin-top: 1.6em;
}

.note p,
p.note {
  font-style: italic;
  font-size: 0.8em;
}

.alert p,
p.alert {
  color: #ed1e24;
}

.canceled {
  text-decoration: line-through;
}

.reveal .tight {
  line-height: 1em;
}

/* Speed up overview: https://github.com/hakimel/reveal.js/issues/94 */

.reveal.overview-animated .slides {
  -webkit-transition: none;
  transition: none;
}
